/********************************************/
/* Hojas de estilo para autores             */
/* Autor: Miguel Ángel Ávila Rosas          */
/* Version: 1.0                             */
/* Creado el: 29 de octubre de 2023         */
/* Actualizado el: 29 de octubre de 2023    */
/********************************************/

/************************************FUENTES************************************/
@font-face {
  src: url(../Fonts/Trajan\ Pro\ Regular.ttf);
  font-family: titulo;
}

@font-face {
  src: url(../Fonts/EBGaramond-Regular.ttf);
  font-family: texto;
}

/*********************************ESTILO GENERAL*********************************/
* {box-sizing:border-box;}

body{
     background-color: #1f1a2f;
     margin: 0;
     font-family: texto;
     padding: 0;
}

h1 {
    font-family: titulo;
    font-size: 3.5rem;
    color: #d3256e;
}
h2 {
    font-family: titulo;
    font-size: 2rem;
    text-align: center;
    color: #ff2d66;
}
h3 {
  font-family: titulo;
  font-size: 2.5rem;
  color: #d3256e;
}
h4 {
  font-family: titulo;
  font-size: 1.5rem;
  color: #ff2d66;
}
p {
   color: #d3256e;
   font-size: 1.5rem;
}

a {
  text-decoration: none; 
  color: #ff2d66;
  }

  a:hover {color: white;}

/********************************ESTILO ESPECÍFICO********************************/

/*************BARRA NAVEGACIÓN*************/

nav {
  position: sticky;
  top: 0;
  z-index: 99;
  background-color: #1f1a2f;
  border: 5px outset #ff2d66;
  background-size: cover;
  height: 9.5vh;
  display: grid;
  grid-template-columns: 33% 33% 33%;
  padding-left: 5%;
  padding-bottom: 13vh;
}

.cursor {
  font-family: titulo;
  border: 2px outset #ff2d66;
  width: 90%;
  font-size: 1.75rem;
  text-align: center;  
  top: 0.5%;
  }

/***************HERO SECTION***************/
#hero_section {
          margin-top: 25px;
          position: relative;
          font-family: texto;
          text-align: center;
}

@keyframes appear {
  from {opacity: 0;}
  to {opacity: 1;}
  }

#titulo {
         width: 55%;
         
}

.ojosTitulo{
  animation-name: appear;
  animation-duration: 10s;
}

.aparicionTitulo{
        animation-name: appear;
        animation-duration: 2s;
}

#ojos1 {
        position: absolute;
        left: 5%;
        top: 10%;
        width: 15%;
}

#ojos2 {
        position: absolute;
        left: 5%;
        top: 60%;
        width: 15%;
}

#ojos3 {
        position: absolute;
        left: 80%;
        top: 5%;
        width: 17.5%; 
}

#ojos4 {
        position: absolute;
        left: 81%;
        top: 60%;
        width: 15%;
}

#DownloadButton {
  font-size: 2rem;
  border: 2.5px solid #ff2d66;
  background-color: #1f1a2f;
  font-weight: bold;
  width: 25%;
  border-radius: 10px;
}

/***************EXPLICACIÓN***************/
#explicacion {
              margin-left: 50px;
              margin-right: 50px;
              text-align: justify;
}

/****************SINOPSIS****************/
#sinopsis {
           margin-left: 50px;
           margin-right: 50px;
           text-align: center;
           position: relative;
}

.grid-2 {
  display: grid;
  grid-template-columns: 50% 50%;
}

.col-2 {padding: 2%}

#texto-sinopsis {
  margin-top: 15%;
}

#trailer {
          width: 100%;
          height: 100%;
          position: relative;
          padding: 3%;
          top: auto;
          right: auto;
          left: 2%;
          bottom: auto;
 }

 /***************OST***************/
 #soundtrack {
              text-align: center;
              position: relative;
              margin-left: 50px;
              margin-right: 50px;
 }
 .img1-sound {
            position: absolute;
            left: 15%;
}
 .img2-sound {
            position: absolute;
            left: 70%;
 }

/*Tablet*/
@media only screen and (width<=880px) {

  /***ESTILO GENERAL***/
     h1 {font-size: 2.5rem;}

  /***ESTILO ESPECÍFICO***/

      /*BARRA DE NAVEGACIÓN*/

          nav {
            height: 7.7vh;
            padding-bottom: 11.25vh;
          }
          .cursor {font-size: 1.5rem;}

      /*HERO SECTION*/
          #ojos1 {width: 17.5%;}

          #ojos2 {width: 17.5%;}

          #ojos3 {width: 20%;}

          #ojos4 {width: 17.5%;}

          #DownloadButton {width: 40%;}

      /*SECCIÓN SINOPSIS*/

          .grid-2 {grid-template-columns: 100%;}

      /***SECCIÓN OST***/
          .img1-sound {left: 0%;}
          .img2-sound {left: 85%;}
          #monster-img {visibility: hidden;}
    }
/*Movil*/
@media only screen and (width<=650px) {

  /***ESTILO GENERAL***/
      h1 {font-size: 1.75rem;}

      h2 {font-size: 1.25rem;}

      p {font-size: 1.15rem;}

  /***ESTILO ESPECÍFICO***/

      /*BARRA DE NAVEGACIÓN*/

          nav {
            height: 6.5vh;
            padding-bottom: 7.5vh;
          }
          .cursor {font-size: 1rem;}

      /*HERO SECTION*/
          #DownloadButton {width: 50%;}

      /*OST*/
          .espacio-movil {padding-bottom: 35%;}
          .espacio-movil-img {padding-top: 2.75%;}
          .img1-sound {left: 5%;}
          .img2-sound {left: 55%;}
}