/********************************************/
/* Hojas de estilo para autores             */
/* Autor: Miguel Ángel Ávila Rosas          */
/* Version: 1.0                             */
/* Creado el: 29 de octubre de 2023         */
/* Actualizado el: 29 de octubre de 2023    */
/********************************************/

/************************************FUENTES************************************/
@font-face {
  src: url(../Fonts/Trajan\ Pro\ Regular.ttf);
  font-family: titulo;
}

@font-face {
  src: url(../Fonts/EBGaramond-Regular.ttf);
  font-family: texto;
}

/*********************************ESTILO GENERAL*********************************/
* {box-sizing:border-box;}

html {scroll-behavior: smooth;}

body{
     background-color: #1f1a2f;
     margin: 0;
     font-family: texto;
     padding: 0;
}

h1 {
    font-family: titulo;
    font-size: 3.5rem;
    color: #d3256e;
}
h2 {
    font-family: titulo;
    font-size: 2rem;
    text-align: center;
    color: #ff2d66;
}
h3 {
  font-family: titulo;
  font-size: 2.5rem;
  color: #d3256e;
}
h4 {
  font-family: titulo;
  font-size: 1.5rem;
  color: #ff2d66;
}
p {
   color: #d3256e;
   font-size: 1.5rem;
}

a {
  text-decoration: none; 
  color: #ff2d66;
  }

  a:hover {
    color: white;
    transform: scale(1.1);
  }

  button {
    background-color: #1f1a2f;
    border: 5px outset #ff2d66;
    color: #ff2d66;
  }

  button:hover {
    border: 5px outset white;
    color: white;
  }

/********************************ESTILO ESPECÍFICO********************************/

/*************BARRA NAVEGACIÓN*************/

nav {
  position: sticky;
  top: 0;
  z-index: 99;
  background-color: #1f1a2f;
  border: 5px outset #ff2d66;
  background-size: cover;
  height: 9.5vh;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  padding-left: 2.5%;
  padding-top: 4.5vh;
  padding-bottom: 11vh;
}

.cursor {
  font-family: titulo;
  width: 90%;
  font-size: 1.75rem;
  text-align: center;  
  top: 5%;
  }

/***************HERO SECTION***************/
#hero_section {
          margin-top: 25px;
          position: relative;
          font-family: texto;
          text-align: center;
}

@keyframes appear {
  from {opacity: 0;}
  to {opacity: 1;}
  }

#titulo {
         width: 55%;
         
}

.ojosTitulo{
  animation-name: appear;
  animation-duration: 10s;
}

.aparicionTitulo{
        animation-name: appear;
        animation-duration: 2s;
}

#ojos1 {
        position: absolute;
        left: 5%;
        top: 10%;
        width: 15%;
}

#ojos2 {
        position: absolute;
        left: 5%;
        top: 60%;
        width: 15%;
}

#ojos3 {
        position: absolute;
        left: 80%;
        top: 5%;
        width: 17.5%; 
}

#ojos4 {
        position: absolute;
        left: 81%;
        top: 60%;
        width: 15%;
}

#DownloadButton {
  font-size: 2rem;
  font-weight: bold;
  width: 25%;
  border-radius: 10px;
}

/***************EXPLICACIÓN***************/
#explicacion {
              margin-left: 50px;
              margin-right: 50px;
              text-align: justify;
}

/****************SINOPSIS****************/
#sinopsis {
           margin-left: 50px;
           margin-right: 50px;
           text-align: center;
           position: relative;
}

.grid-2 {
  display: grid;
  grid-template-columns: 50% 50%;
}

.col-2 {padding: 2%}

#texto-sinopsis {
  margin-top: 15%;
}

#trailer {
          width: 100%;
          height: 100%;
          position: relative;
          padding: 3%;
          top: auto;
          right: auto;
          left: 2%;
          bottom: auto;
 }

 /***************OST***************/
 #soundtrack {
              text-align: center;
              position: relative;
              margin-left: 50px;
              margin-right: 50px;
 }
 .img1-sound {
            position: absolute;
            left: 15%;
}
 .img2-sound {
            position: absolute;
            left: 70%;
 }

 #bf-fade {
  opacity: 50%;
 }

 /***************AUTORES***************/

 #autores {
    padding-top: 13vh;
    text-align: center;
 }

 #centrar-tarjetas {
    padding-left: 20%;
 }

 /*Parte del codigo de universe.io*/

 .card {
  width: 290px;
  height: 354px;
  background: #302947;
  padding: 2rem 1.5rem;
  border: 5px outset #ff2d66;
  transition: box-shadow .3s ease, transform .2s ease;
 }
 
 .card-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: transform .2s ease, opacity .2s ease;
 }
 
 /*Image*/
 .card-avatar {
  --size: 120px;
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  transition: transform .2s ease;
  margin-bottom: 1rem;
 }
 
 #img-phantomFear {
  background: url(../Img/phantomFear.jpg);
 }

 #img-dyanStella {
  background: url(../Img/dyanStella.jpg);
 }
 
 /*Card footer*/
 .card-social {
  transform: translateY(200%);
  display: flex;
  justify-content: space-around;
  width: 100%;
  opacity: 0;
  transition: transform .2s ease, opacity .2s ease;
 }
 
 .card-social__item {
  list-style: none;
 }
 
 .card-social__item svg {
  display: block;
  height: 18px;
  width: 18px;
  
  cursor: pointer;
  transition: fill 0.2s ease ,transform 0.2s ease;
 }
 
 /*Text*/
 .card-title {
  color: #ff2d66;
  font-size: 1.5em;
  font-weight: 600;
  line-height: 2rem;
 }
 
 .card-subtitle {
  color: #ff2d66;
  font-size: 0.8em;
 }
 
 /*Hover*/
 .card:hover {
  box-shadow: 0 8px 50px #ff2d66;
 }
 
 .card:hover .card-info {
  transform: translateY(-5%);
 }
 
 .card:hover .card-social {
  transform: translateY(100%);
  opacity: 1;
 }

 /***************GALERIA***************/
      
 .galeria-fanart-texto {
  text-align: center;
}

    /* Slideshow container */
    .slideshow-container {
      max-width: 1000px;
      position: relative;
      margin: auto;
    }

    /* Hide the images by default */
    .mySlides {
      display: none;
    }

    /* Next & previous buttons */
    .prev, .next {
      cursor: pointer;
      position: absolute;
      top: 50%;
      width: auto;
      margin-top: -22px;
      padding: 16px;
      color: #ffffff;
      font-weight: bold;
      font-size: 18px;
      transition: 0.6s ease;
      border-radius: 0 3px 3px 0;
      user-select: none;
    }

    /* Position the "next button" to the right */
    .next {
      right: 0;
      border-radius: 3px 0 0 3px;
    }

    /* On hover, add a black background color with a little bit see-through */
    .prev:hover, .next:hover {
      background-color: rgba(0,0,0,0.8);
    }

    /* Number text (1/3 etc) */
    .numbertext {
      color: #ff2d66;
      font-size: 12px;
      padding: 8px 12px;
      position: absolute;
      top: 0;
    }

    /* The dots/bullets/indicators */
    .dot {
      cursor: pointer;
      height: 15px;
      width: 15px;
      margin: 0 2px;
      background-color: #ff2d66;
      border-radius: 50%;
      display: inline-block;
      transition: background-color 0.6s ease;
    }

    .active, .dot:hover {
      background-color: #ff2d66;
    }

    /* Fading animation */
    .fade {
      animation-name: fade;
      animation-duration: 1.5s;
    }

    @keyframes fade {
      from {opacity: .4}
      to {opacity: 1}
    }

  /***************FOOTER***************/
      
      footer{
        margin-top: 5vh;
        font-size: 2em;
        border-top: 5px outset #ff2d66;
      }

      footer button {
        border: 5px outset #ff2d66;
        font-family: titulo;
        font-size: 1em;
        width: 80%;
        padding-top: 1vh;
        padding-bottom: 1vh;
        margin-bottom: 2vh;
      }
  
      #grid-3 {
        display: grid;
        grid-template-columns: 33% 33% 33%;
        margin-top: 2vh;
      }

      #icono-bf {
        width: 80%;
        height: auto;
        margin-left: 6vh;
       }

      .bajar-footer {padding: 1vh;}

      #mover-secciones {
              margin-right: -30%;
              margin-left: 10%;
            }

      footer .fa {
              padding: 20px;
              font-size: 20px;
              width: 60px;
              text-align: center;
              text-decoration: none;
              margin: 5px 2px;
              border-radius: 50%;
            }
      footer .fa-youtube-play{
              color: white;
              background-color: red;
            }

      footer .fa-linkedin{
              color: white;
              background-color: rgb(0, 98, 255);
            }

      #centrar-red {text-align: center;}

      .fa-linkedin:hover {
              opacity: 80%;
              color: white;
              }
/*Tablet*/
@media only screen and (width<=880px) {

  /***ESTILO GENERAL***/
     h1 {font-size: 2.5rem;}

  /***ESTILO ESPECÍFICO***/

      /*BARRA DE NAVEGACIÓN*/

          nav {
            height: 7.7vh;
            padding-bottom: 7.5vh;
            padding-top: 2.5vh;
          }
          .cursor {font-size: 1.25rem;}

      /*HERO SECTION*/
          #ojos1 {width: 17.5%;}

          #ojos2 {width: 17.5%;}

          #ojos3 {width: 20%;}

          #ojos4 {width: 17.5%;}

          #DownloadButton {width: 40%;}

      /*SECCIÓN SINOPSIS*/

          #grid-2-media {grid-template-columns: 100%;}

      /*SECCIÓN OST*/
          .img1-sound {left: 0%;}
          .img2-sound {left: 85%;}
          #monster-img {visibility: hidden;}

      /*SECCIÓN AUTORES*/
          .card {
            width: 240px;
            height: 304px;
          }

          /*Image*/
          .card-avatar {
            --size: 70px;
          }

          #centrar-tarjetas {
            padding-left: 12.5%;
         }

         #img-phantomFear {
          background: url(../Img/phantomFear-tablet.jpg);
         }
        
         #img-dyanStella {
          background: url(../Img/dyanStella-tablet.jpg);
         }

      /*FOOTER*/
          footer button {
            border: 4px outset #ff2d66;
            font-size: 0.75em;
            width: 75%;
          }

          #icono-bf {
            width: 95%;
            margin-left: 3vh;
            margin-top: 6vh;
          }
    }
/*Movil*/
@media only screen and (width<=650px) {

  /***ESTILO GENERAL***/
      h1 {font-size: 1.75rem;}

      h2 {font-size: 1.25rem;}

      p {font-size: 1.15rem;}

      button {border: 3px outset #ff2d66;}
    
      button:hover {border: 3px outset white;}

  /***ESTILO ESPECÍFICO***/

      /*BARRA DE NAVEGACIÓN*/

          nav {
            height: 6.5vh;
            padding-bottom: 7.5vh;
            padding-left: 1.25%;
            padding-bottom: 6vh;
          }
          .cursor {
                   font-size: 1rem;
                   width: 95%;
          }

      /*HERO SECTION*/
          #DownloadButton {width: 50%;}

      /*SECCIÓN SINOPSIS*/

          .grid-2 {grid-template-columns: 100%;}
          #texto-sinopsis {margin-top: 0%;}

      /*SECCIÓN OST*/
          .espacio-movil {padding-bottom: 35%;}
          .espacio-movil-img {padding-top: 2.75%;}
          .img1-sound {left: 5%;}
          .img2-sound {left: 55%;}

      /*SECCIÓN AUTORES*/
      .card {
        width: 290px;
        height: 354px;
      }

      .card-movil {
        padding-bottom: 7.5vh;
        padding-left: 6%;
        padding-right: 10%;
      }

      /*Image*/
      .card-avatar {
        --size: 120px;
      }

      #centrar-tarjetas {
        padding-left: 12.5%;
     }

     #img-phantomFear {
      background: url(../Img/phantomFear.jpg);
     }
    
     #img-dyanStella {
      background: url(../Img/dyanStella.jpg);
     }

     /*FOOTER*/
     footer button {
      border: 3px outset #ff2d66;
      font-size: 0.5em;
      width: 65%;
      margin-left: 1vh;
    }
    
    #icono-bf {
      width: 100%;
      margin-left: 2vh;
      margin-top: 6vh;
    }

}